* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    background: rgb(186, 185, 185);
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    position: relative;
}

.pictureOne, .pictureTwo, .pictureTree {
    position: absolute;

    z-index:-1;
    
}

.hide{
    display: none;
}

nav {
    margin-left: 7.2rem;
    display: flex;
    align-items: center;

    padding-top: 4rem;
}

/* config home */
a,
img {
    color: #FFFFFF;
    gap: 3.2rem;

    text-decoration: none;
    margin: 0 3.2rem 0 0;
}

a {
    font-size: 2.1rem;

    transition: 250ms;
}

a:hover {
    font-weight: 700;
    font-size:2.6rem;
}

#home {
    width: 39.9rem;
    margin: 20rem auto;
    width: 50%; /* Valor da Largura */
    text-align: center;

    color: #FFFFFF;
}

#home h1 {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
    
}

#home button {
    font-size: 1.4rem;
    border: .2rem solid #FFFFFF;
    border-radius: .5rem;
    padding: 1.2rem 3.2rem;

    background: none;
    color: #FFFFFF;
    cursor: pointer;

    transition: 250ms;
}

#home button:hover {
    background: #FFFFFF;
    color: #02799D;

    transform: scale(1.1);

}

/* config Universo e exploracao*/

#universo, #exploracao {
    width: 64.8rem;
    margin: 6.3rem 0 0 10.2rem;
    
}

#universo h1, #exploracao h1 {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
}

#universo p, #exploracao p {
    font-size: 1.8rem;
}

/* config page 404 */

#notFound {
    text-align: center;
    margin: 6rem auto;
}

#notFound img {
    width: 40rem;
}